export("pattern<-")
export("varlabels<-")
export(as.surveydata)
export(is.surveydata)
export(pattern)
export(qText)
export(qTextCommon)
export(qTextUnique)
export(questions)
export(strCommonUnique)
export(varlabels)
export(which.q)
S3method("$<-",surveydata)
S3method("[",surveydata)
S3method(as.data.frame,surveydata)
