export("pattern<-")
export("varlabels<-")
export(as.surveydata)
export(dropout)
export(encToInt)
export(fixCommonEncodingProblems)
export(fixLevels01)
export(fixLevels01R)
export(fixLevels01SPSS)
export(hasDK)
export(intToEnc)
export(is.surveydata)
export(lapplyNames)
export(leveltestR)
export(leveltestSPSS)
export(pattern)
export(qOrder)
export(qText)
export(qTextCommon)
export(qTextUnique)
export(questions)
export(readAllSheets)
export(readOneQuestionExcel)
export(readQuestionExcel)
export(removeAllDK)
export(removeDK)
export(strCommonUnique)
export(updateQuestion)
export(varlabels)
export(which.q)
export(writeOneQuestionExcel)
export(writeQuestionExcel)
importFrom(plyr,ldply)
importFrom(plyr,quickdf)
importFrom(stringr,str_match)
importFrom(stringr,str_trim)
S3method("$<-",surveydata)
S3method("[",surveydata)
S3method("[<-",surveydata)
S3method("names<-",surveydata)
S3method(as.data.frame,surveydata)
S3method(cbind,surveydata)
S3method(merge,surveydata)
